repos:
  - repo: https://github.com/psf/black
    rev: "24.3.0"
    hooks:
      - id: black
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.21.3
    hooks:
      - id: commitizen
        stages: [pre-merge-commit]